@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.admin {
    padding: 30px;
}
.admin-heading{
    text-align: center;
    margin: 60px 0!important;
    font-family: Roboto, sans-serif;

}
.admin-card-wrapper{
    margin: 20px 0;
}
.loading{
    text-align: center;
    color: #2f2f58;
    font-family: Roboto, sans-serif;

}
.admin-card{
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    -webkit-box-shadow: 2px 2px 13px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 13px -3px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 13px -3px rgba(0,0,0,0.75);
}
.admin-card-heading{
    margin: 15px 0;
}
.admin-card-elements{
    display: flex;
    flex-wrap: wrap;

}
.admin-card-element{
    margin: 10px;
    padding: 4px 12px;
    border: 1px solid black;
    border-radius: 20px;
}